@model webPageDesign.Models.Contact

@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>


<h2>Create Comment Page</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter name and comments</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="color:white" id="nameCreate">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                <span style="color: red" id="commentName" hidden>Please enter your name</span>
            </div>
        </div>

        <div class="form-group" style="color:white">
            @Html.LabelFor(model => model.comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })
                <span style="color: red" id="commentBox" hidden>Please enter comment</span>
            </div>
        </div>

        <div class="form-group" style="color:white" id="dateComment">
            @Html.LabelFor(model => model.commentDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.commentDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.commentDate, "", new { @class = "text-danger" })
                <h5 style="color:yellow">Enter as mm/dd/yyyy</h5>
            </div>
        </div>

        <div class="form-group" style="color:white">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" id="createComment" />
            </div>
        </div>
    </div>
}

<div>
    <h4>@Html.ActionLink("Back to List", "Index")</h4>
</div>

<script src="~/Content/jQuery2_copy.js"></script>